.page {
  background-color: #f7f7f7;
}

.hero {
  text-align: center;
  padding-top: 20vh;
}

.reveal {
  animation-name: reveal;
  animation-duration: 1s;
}

@keyframes reveal {
  from { opacity: 0; }
  to { opacity: 1; }
}
